<%= javascript_pack_tag 'chat_messages_channel' %>
<div id="message-section"></div>

<%= form_with url: chat_messages_path, method: 'post', local: true do |form| %>
  <%= form.text_field :content, id: 'message-content' %>
  <%= form.submit 'Send' %>
<% end %>